 <!-- <nav>
    <ul>
      <li><a href="#"> Home</a></li>
    </ul>
  </nav> -->

  <div id="main">
  </div>

  <script id="app-template" type="text/handlebars-template">
    <h1>Recent posts</h1>
    <ul id="planes"></ul>
  </script>

  <script id="list-template" type="text/handlebars-template">
    <span>{{ name }}</span>
  </script>

  <script id="plane-template" type="text/handlebars-template">
    <h1>{{ name }}</h1>
    for(var i = 0, i < {{ row }}, i++){
      console.log(i);
      <div></div>
    }
    <div>{{ row }}</div>
  </script>