<h1>Burning Airlines</h1>

	<div id="main">
	</div>

  <script id="nav-template" type="text/handlebars-template">
    <ul>
      <li id="home"></li>
      <li id="planes"></li>
      <li id="flights"></li>
      <li id="reservations"></li>
    </ul>
  </script>


  <script id="plane-app-template" type="text/handlebars-template">
    <h2>All Planes</h2>
    <ul id="planes"></ul>
  </script>

  <script id="plane-list-template" type="text/handlebars-template">
    <span>{{ name }}</span>
  </script>

	<script id="plane-template" type="text/handlebars-template">
		<h1>{{ name }}</h1>
		<div id="seating-plan"></div>
		<div>{{ aisles }}, {{ rows }}</div>
	</script>




