<h1>Burning Airlines</h1>

	<div id="main">
	</div>

	<script id="app-template" type="text/handlebars-template">
		<h1>All Planes</h1>
		<ul id="planes"></ul>
		// <h1>All Flights</h1>
		// <ul id="flights"></ul>
	</script>

<!-- 	<script id="flight-list-template" type="text/handlebars-template">
		<h1>{{ name }}</h1>
	</script> -->

  <script id="plane-list-template" type="text/handlebars-template">
    <span>{{ name }}</span>
  </script>

	<script id="plane-template" type="text/handlebars-template">
		<h1>{{ name }}</h1>
		<div id="seating-plan"></div>
		<div>{{ aisles }}, {{ rows }}</div>
	</script>




