<h1>Burning Airlines</h1>
  <nav id="nav"></nav>
	<div id="main">
	</div>

  <script id="nav-template" type="text/handlebars-template">
    <ul>
      <li id="nav-home"><a href="#"></a></li>
      <li id="nav-planes"></li>
      <li id="nav-flights"></li>
      <li id="nav-reservations"></li>
    </ul>
  </script>

  <script id="plane-app-template" type="text/handlebars-template">
<<<<<<< HEAD
    <section>
      <h2>All Planes</h2>
      <ul id="planes"></ul>
    </section>
    <section>
      <h2>All Flights</h2>
      <ul id="flights"></ul>
    </section>
=======
    <h2>All Planes</h2>

    <ul id="planes"></ul>
    <form>
      <input type="plane_name">
      <input type="plane_rows">
      <input type="plane_aisles">
    </form>
>>>>>>> 13b6ff26f103f59b4819040bae7583c45e303a1f
  </script>

  <script id="plane-list-template" type="text/handlebars-template">
    <span>{{ name }}</span>
    <form>
      <input type="plane_name">
      <input type="plane_rows">
      <input type="plane_aisles">
    </form>
  </script>

	<script id="plane-template" type="text/handlebars-template">
		<h1>{{ name }}</h1>
		<div id="seating-plan"></div>
		<div>{{ aisles }}, {{ rows }}</div>
	</script>
<<<<<<< HEAD

  <script id="flight-list-template" type="text/handlebars-template">
    <span>{{ name }}</span>
  </script>

  <script id="flight-template" type="text/handlebars-template">
    <h1>{{ name }}</h1>
    <span>{{ origin }}</span>
    <span>{{ destination }}</span>
  </script>



=======
>>>>>>> 13b6ff26f103f59b4819040bae7583c45e303a1f
