<!-- This yield page contains all templates -->

<script id="navigation-template" type="text/handlebars-template">
  <ul>
    <li id="nav-home"><a href="#">Home</a></li>
    <li id="nav-planes"><a href="#">Planes</a></li>
    <li id="nav-flights"><a href="#">Flights</a></li>
    <li id="nav-reservations"><a href="#">Reservations</a></li>
    <li id="nav-users"><a href="#">Sign In</a></li>
  </ul>
</script>

<!-- Script for NAVIGATION templates -->
<script id="nav-template" type="text/handlebars-template">
  <ul>
    <li id="nav-home"><a href="#">Home</a></li>
    <li id="nav-planes"><a href="#">Planes</a></li>
    <li id="nav-flights"><a href="#">Flights</a></li>
    <li id="nav-reservations"><a href="#">Reservations</a></li>
    <li id="nav-users"><a href="#">Sign In</a></li>
  </ul>
</script>

<!-- ############################## -->
<!-- Script for ALL other templates -->
<!-- ############################## -->

<!-- Planes -->
<script id="plane-template" type="text/handlebars-template">
  <h1>{{ name }}</h1>
  <div id="seating-plan"></div>
  <div>{{ aisles }}, {{ rows }}</div>
</script>

<script id="plane-list-template" type="text/handlebars-template">
  <section>
    <h2>All Planes</h2>
    <ul id="planes"></ul>
  </section>
</script> 

<script id='create-plane-template' type='text/template'>
  <h2>Create Plane</h2>
  <form id='create-plane-form' action='#'>

    <label for='name'>Name: </label>
    <input type='text' id='name' autofocus='true'>

    <button>Create</button>
  </form>
</script>

<!-- Flights -->
<script id="flight-list-template" type="text/handlebars-template">
  <span>{{ name }}</span>
</script>

<script id="flight-template" type="text/handlebars-template">
  <h1>{{ name }}</h1>
  <span>{{ origin }}</span>
  <span>{{ destination }}</span>
</script>

