<!-- This yield page contains all templates -->

<!-- Script for NAVIGATION templates -->
<!-- Navigation lives in appView, which
     is visible on all pages -->
<script id="navigation-template" type="text/handlebars-template">
  <ul>
    <li id="nav-home">Home</li>
    <li id="nav-planes">Planes</li>
    <li id="nav-flights">Flights</li>
    <li id="nav-reservations">Reservations</li>
    <li id="nav-users">Sign In</li>
  </ul>
</script>

<!-- ############################## -->
<!-- Script for ALL other templates -->
<!-- ############################## -->


<!-- ###### Planes ###### -->
<!-- Portal to all plane-related activities -->
<script id="plane-portal-template" type="text/handlebars-template">
  <h2>Create Plane</h2>
  // <form id='create-plane-form' action='#'>

  //   <label for='name'>Name: </label>
  //   <input type='text' id='name' autofocus='true'>

  //   <button>Create</button>
  // </form>
</script>

<!-- Individual plane view -->
<script id="plane-template" type="text/handlebars-template">
  <h2>Plane Name</h2>
  <h3>{{ name }}</h3>
  <div id="seating-plan"></div>
  <div>{{ aisles }}, {{ rows }}</div>
</script>

<!-- All Planes view -->
<script id="planes-template" type="text/handlebars-template">
  <h2>All Planes</h2>
  <ul id="planes"></ul>
</script>

<!-- Bullet of each plane to pipe into All Planes -->
<script id="plane-list-template" type="text/handlebars-template">
  <span>{{ name }}</span>
</script>

<!-- Create new plane -->
<script id='create-plane-template' type='text/template'>
  <h2>Create Plane</h2>
  <form id='create-plane-form' action='#'>

    <label for='name'>Name: </label>
    <input type='text' id='name' autofocus='true'>

    <button>Create</button>
  </form>
</script>

<!-- Update new plane -->
<script id='update-plane-template' type='text/template'>
  <h2>Update Plane</h2>
  <form id='update-plane-form' action='#'>

    <label for='name'>Name: </label>
    <input type='text' id='name' autofocus='true'>

    <label for='aisles'>Aisles: </label>
    <input type='text' id='aisles'>

    <label for='rows'>Rows: </label>
    <input type='text' id='rows'>

    <button>Update</button>
  </form>
</script>

<!-- Destroy plane -->
<!-- FIXME -->
<script id='destroy-plane-template' type='text/template'>
  <h2>Destroy Plane</h2>
  <form id='destroy-plane-form' action='#'>

    <label for='name'>Name: </label>
    <input type='text' id='name' autofocus='true'>

    <label for='aisles'>Aisles: </label>
    <input type='text' id='aisles'>

    <label for='rows'>Rows: </label>
    <input type='text' id='rows'>

    <button>Confirm</button>
  </form>
</script>

<!-- ###### Flights ###### -->
<script id="flights-template" type="text/handlebars-template">
  <span>{{ name }}</span>
</script>

<script id="create-flight-template" type="text/handlebars-template">
  <form id='create-flight-form' action=''>

        <label for='name'>Name: </label>
        <input type='text' id='name'>

        <label for='origin'>Origin: </label>
        <input type='text' id='origin'>

        <label for='destination'>Destination: </label>
        <input type='text' id='destination'>

        <label for='date'>Date: </label>
        <input type='date' id='date'>

        <button>Create</button>
      </form>
</script>

<script id="flight-template" type="text/handlebars-template">
  <h1>{{ name }}</h1>
  <span>{{ origin }}</span>
  <span>{{ destination }}</span>
</script>

<!-- END FLIGHTS -->

<!-- Reservations -->


<script id="reservation-template" type="text/handlebars-template">
  <span>{{ user_id }}</span>
</script>
